{% extends 'base.html' %}
<!-- Starts Main Section -->


{% block content %}
    <!-- Start Register Section -->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Register Form -->
            <form action="" method="post">

                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    {{ field }}
                {% endfor %}

                <!-- Register Button -->
                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option">

            <!-- Link to Login Page -->
            <p>Have an account? <a href="{% url 'login' %}">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section -->


<!-- End Main Section -->
{% endblock %}
